<section id="contacts">
    <section class="contact-page-sec">
        <div class="container contact-page-box">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-info">
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fas fa-map-marked"></i>
                            </div>
                            <div class="contact-info-text">
                                <h2>address</h2>
                                <span>124 P. Tolentino St, Angono, Rizal </span>
                                <span>Barangay San Isidro Hall</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-info">
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="contact-info-text">
                                <h2>E-mail</h2>
                                <span>brgy-sanisidro@gmail.com</span>
                                <span>yourmail@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-info">
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fas fa-clock"></i>
                            </div>
                            <div class="contact-info-text">
                                <h2>office time</h2>
                                <span>Mon - Thu 9:00 am - 4.00 pm</span>
                                <span>Thu - Mon 10.00 pm - 5.00 pm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-container-box">
            <div class="row row-inside-box">
                <div class="col-md-7">
                    <div class="contact-page-form" method="post">
                        <h2 class="faq-heading">Get in Touch</h2>
                        <form action="contact-mail" method="post">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-input-field">
                                        <input class="contact-input" type="text" placeholder="Full Name"
                                            name="fullname" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-input-field">
                                        <input class="contact-input" type="email" placeholder="E-mail" name="email"
                                            required />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-input-field">
                                        <input class="contact-input" type="text" placeholder="Phone Number"
                                            name="phone" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-input-field">
                                        <input class="contact-input" type="text" placeholder="Subject" name="subject" />
                                    </div>
                                </div>
                                <div class="col-md-12 message-input">
                                    <div class="single-input-field">
                                        <textarea  placeholder="Write Your Message" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="single-input-fieldsbtn">
                                    <button class="btn-with get-in-touch-btn"> Send Now </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact-page-map">

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3862.2673303629626!2d121.15060951435878!3d14.526695382779167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c6c13c3d15af%3A0x944b480811c8c6a2!2sBarangay%20San%20Isidro%20Hall!5e0!3m2!1sen!2sph!4v1643811742534!5m2!1sen!2sph"
                            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>