 <!-- --------ORIGINAL MENUS ----------- -->
 <div class="req-container-div"> 
 <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/adminportal">Barangay Portal</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <ul class="navbar-nav">
          <li class="nav-item navbar-distance signout-distance">
            <a class="nav-link" href="/logout" >Sign out</a>
          </li>
          
          <li class="nav-item navbar-distance">
           
           <a class="nav-link nav-border-without" href="/adminportal" > <i class="fa-solid fa-user fa-1x"></i> Hi!  </a>
             
          </li>
        
          <!-- <li class="nav-item navbar-distance">
            <a class="nav-link" href="/adminportal"> Hi! Administrator</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
  <!-- --------END OF ORIGINAL MENUS ----------- -->