<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/main">Barangay Portal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#News">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Request
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">Request for Barangay ID</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Request for Barangay Clearance</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Request for Barangay Business Clearance</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Request for Barangay Certification for Exacavation Permit</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Request for Barangay Certification for Indigency</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Request for Barangay Certification for Solo Parent</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Request for Barangay Wiring Clearance</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Other</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item navbar-distance">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
        <li class="nav-item navbar-distance">
          <a class="nav-link nav-border-without" href="#contacts">Talk to Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
