<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/mainuser">Barangay Portal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/mainuser">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#News">About</a>
        </li> -->
        <li class="nav-item">
                    
          <a class="nav-link"   href="/updates-user" >Bulletin</a>
        </li>
        <li class="nav-item">
                    
          <a class="nav-link"   href="/tutorialsuser" >Tutorials</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Request
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/reqbrgyid">Request for Barangay ID</a>
            </li>
            <li>
              <a class="dropdown-item" href="/reqbrgyclearance"
                >Request for Barangay Clearance</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/businesspermit"
                >Request for Barangay Business Clearance</a
              >
            </li>
           
            <li>
              <a class="dropdown-item" href="/reqindigency"
                >Request for Barangay Certification for Indigency</a
              >
            </li>
            
            <li>
              <a class="dropdown-item" href="/reqwiringsclearance"
                >Request for Barangay Wiring and Exacavation Clearance</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#contacts" onclick="return confirm('Please send us your concern.');" >Other</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
             
    
        
      
        <!-- <li class="nav-item navbar-distance">
          <a class="nav-link nav-border-with" href="#contacts">Talk to Us</a>
        </li> -->

        <li class="nav-item dropdown navbar-distance" >
          <a class="nav-link dropdown-toggle nav-border-without"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-id-badge fa-1x" style="color: cadetblue;"></i> Hi! <%= username %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/usersprofile/<%= id %>"> Edit Profile</a></li>
            <li><a class="dropdown-item" href="/changepassword/<%= id %>">Change Password</a></li>
            <!-- <li><a class="dropdown-item" href="#">User View</a></li>
            <li><a class="dropdown-item" href="#">Employee View</a></li> -->
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
           
          
          
        </li>


      </ul>
    </div>
  </div>
</nav>
