<section Id="News">
  <div class="news-container container-fluid">
    <div class="row row-news">
      <div class="col-lg-4 news-container">
        <div class="news-inside">
          <img src="images/brgys.jpg" alt="" class="news-img" />
          <p class="news-par-title">Lorem ipsum dolor sit amet</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam,
            habitant eget nunc, vel amet nulla malesuada.
          </p>
        </div>
        <div class="news-inside">
          <img src="images/brgys.jpg" alt="" class="news-img" />
          <p class="news-par-title">Lorem ipsum dolor sit amet</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam,
            habitant eget nunc, vel amet nulla malesuada.
          </p>
        </div>
      </div>
      <div class="col-lg-4 news-container">
        <div class="news-inside">
          <img src="images/bsiofficials.jpg" alt="" class="news-img" />
          <p class="news-par-title">Lorem ipsum dolor sit amet</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam,
            habitant eget nunc, vel amet nulla malesuada.
          </p>
        </div>
        <div class="news-inside">
          <img src="images/bsi.jpg" alt="" class="news-img" />
          <p class="news-par-title">Lorem ipsum dolor sit amet</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam,
            habitant eget nunc, vel amet nulla malesuada..
          </p>
        </div>
      </div>
      <div class="col-lg-4 whats-happening px-0">
        <div class="box-fluid">
          <h1 class="news-h1">What's Happening Now?</h1>
          >
          <p class="news-par">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam,
            habitant eget nunc, vel amet nulla malesuada. Hendrerit enim,
            convallis tellus arcu velit. Dolor pulvinar tempor duis ultrices sit
            elementum viverra proin.
          </p>
          <button class="btn-with-news">Read More</button>
        </div>
      </div>
    </div>
  </div>
</section>
