<div class="big-container " style="margin: 0 auto; margin-top: 100px; ">
    <h2 class="faq__heading" style="margin-bottom: 50px;">Barangay Officials</h2>
    <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 ">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="./images/man.png">
              </div>
              <div class="team-content">
                <h5 class="name">Nicanor, Juliet M</h5>
                <h4 class="title">Chairman</h4>
              </div>
              <ul class="social">
                <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
             
             
              <div class="col-12 col-sm-6 ">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="./images/man.png">
              </div>
              <div class="team-content">
                <h5 class="name">Borres, Jeremie</h5>
                <h4 class="title">Treasurer</h4>
              </div>
              <ul class="social">
                <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./images/man.png">
          </div>
          <div class="team-content">
            <h5 class="name">Nicanor, Juliet M</h5>
            <h4 class="title">Councilor</h4>
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./images/man.png">
          </div>
          <div class="team-content">
            <h5 class="name">Miranda, Maica </h5>
            <h4 class="title">Councilor</h4>
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./images/man.png">
          </div>
          <div class="team-content">
            <h5 class="name">Secretario, Mary</h5>
            <h4 class="title">Councilor</h4>
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./images/man.png">
          </div>
          <div class="team-content">
            <h5 class="name">Borres, Jeremie</h5>
            <h4 class="title">Councilor</h4>
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./images/man.png">
          </div>
          <div class="team-content">
            <h5 class="name">Borres, Jeremie</h5>
            <h4 class="title">Councilor</h4>
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="./images/man.png">
          </div>
          <div class="team-content">
            <h5 class="name">Borres, Jeremie</h5>
            <h4 class="title">Councilor</h4>
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<style>
    .our-team {
       
        filter: drop-shadow(0px 4px 4px #41524F);
    }
    .picture{
        margin-bottom: 0px !important;
    }
</style>