<%- include('partials/header') %>
<div class="login-page">
  <form autocomplete="off" action="/changepassword/<%- users._id %>" method="POST"
    oninput='compassword.setCustomValidity(compassword.value != newpassword.value ? "Passwords do not match." : "")'>
    <div class="title-design">
      <h5>Change Password</h5>
      <hr />
    </div>


    <label for="password"> Old Password </label>
    <input autocomplete="off" type="password" name="password" required/>

    <label for="password"> New Password </label>
    <input autocomplete="off" type="password" name="newpassword" required />

    <label for="password"> Confirm Password </label>
    <input autocomplete="off" type="password" name="compassword" required />
  

    <!-- <label for="password"> Confirm Password </label>
      <input name="conpassword" id="conpassword" type="password"onchange='check_pass()' /> -->

    <button type="submit" class="submit" id="submit">Save </button>
    <!-- <input id="errormsg" type="hidden" name="errormsg" onChange="onChange()"> </input> -->
  </form>
 
</div>


<style>
    
/* -----Login Page---- */
input{
  color:rgb(33, 130, 141)
}
.login-page{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 35%;
  left: 50%;
  margin: -100px 0 0 -150px;

}
body {
    Margin: 0;
    Padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    Line-height: 1.3;
    background-image: url("/images/bground.png");
    background-repeat: no-repeat, repeat !important;
    background-size: cover !important;
    background-position: center !important;


}
/* form{
  background-color: none;
} */

input, .txt-area, select{
  border: none;
  margin-bottom: 2px;
  border-bottom: 1px solid #04684f;
  width: 300px;
  background: transparent !important;
  
}
.title-design
{
  /* background-color: #1B999D;
  opacity: 0.75; */
  text-align: center;
  padding-bottom: 20px;
  color:#1B999D;
  width: 300px;
 
}

.submit{
  width: 300px;
  margin: 10px 0 0 0;
  padding: 5px;
  background-color:#1B999D; 
  
  border: none;
  opacity: 0.75;
  color: white;
  margin-bottom: 10px;
}
.submit:hover{
  background: none;
  border: 1px solid #04684f;
  color: #784546;
  border-style: double;
  transition: 0.5s;
  
}

.google-au
{
  margin-top: 20px;
  text-decoration: none;
 
  color: #04684f; 
}
.google-au:hover
{
  margin-top: 20px;
  text-decoration: none;
  color: #784546; 
}

.sign-up-link
{
    text-align: center;
}
.alert-mode
{

padding:0px;
margin: 0px;
color: red;
}
</style>
<%- include('partials/scriptstag') %>