<%- include('./partials/header') %> 
<div class="page-loader">
	<div class="load">
		<div class="load-one"></div>
		<div class="load-two"></div>
		<div class="load-three"></div>
	  </div>
	</div>

<%- include('./page-employee/EmployeeHome') %>
<%- 
include('./partials/scriptstag') %>
