
<body>


  <section id="home">
    <div class="container">
      <div class="row home-title">
        <div class="col-lg home-text">
          <h1 class="front-title"> UNITY</h2>
            <h2 class="front-tagline"> It starts with you if not you, then who? </h3>
              <p> Donate or be part of the volunteers that helps people who in needs in this pandemic.
                All the proceeds will go straight into the charities.
              </p>
              <button class="btn-without"> Donate </button>
              <button class="btn-with">Be Volunteer</button>
        </div>
        <div class="col-lg home-img">
          <img src="images/sun.jpg" alt="" class="home-img-size">
        </div>
      </div>
    </div>
  
  </section>
  
  
  
  
  </body>
  </html>