<%- include('partials/header') %>

<div class="login-page">
  <div class="log-container">
    <form autocomplete="off" action="/login" method="POST">
      <div class="title-design">
        <h5>Log into Your Account</h5>
        <hr />
      </div>

      <label for="email"> Username </label>
      <input autocomplete="off" type="text" name="username" required/>

      <label for="password"> Password </label>
      <input
        name="password"
        id="password"
        type="password"
        onchange="check_pass()"
        required
      />

      <button type="submit" class="submit" id="submit">Sign in</button>
   
      <!-- <input id="errormsg" type="hidden" name="errormsg" onChange="onChange()"> </input> -->
    </form>
    <!-- <div class="sign-in-link"> -->

    <a class="employee" href="/register" type="submit" style="color: #1B999D ;">New User? Register here</a>
    <!-- <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign in with Google
      </a>
    </div> -->
  </div>
</div>
