<%- include('partials/header') %>



  <div class="login-page">
    <div class="log-container"> 
    <form autocomplete="off" action="/login" method="POST">
      <h1> Sign in</h1>
    
      <label for="email"> Email </label>
      <input autocomplete="off" type="email" name="username" />

    
      <label for="password"> Password </label>
      <input name="password" id="password" type="password" onchange='check_pass()'/>


      <button type="submit" class="submit" id="submit" disabled>Sign up</button>
      <!-- <input id="errormsg" type="hidden" name="errormsg" onChange="onChange()"> </input> -->

    </form>
    <div class="sign-in-link">
     
      <!-- <a class="employee" type="submit" > Register as an Employee </a> -->
      <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign in with Google
      </a>
    </div>
  </div>
  </div>
 