<%- include('partials/header') %>



<div class="login-page">
  <form autocomplete="off" action="/registeraccount" method="POST">
    <div class="title-design">
      <h5>Create New Account</h5>
      <hr />
    </div>
    <div class="form-input">
      <label for="accountrole"> Account Role </label>

      <!-- <input name="amount" id="amount" type="text" /> -->
      <select class="custom-select my-1 mr-sm-2" name="accountrole" required>
        <!-- <option selected></option> -->
        <option value="citizen">Barangay Citizen or others</option>
       
      </select>
    </div>
    <label for="email"> Username </label>
    <input autocomplete="off" type="text" name="username" required/>

    <label for="email"> Email </label>
    <input autocomplete="off" type="email" name="email" required/>

    <label for="lastname"> Last Name </label>
    <input autocomplete="off" type="text" name="lastname" required/>

    <label for="firstname"> First Name </label>
    <input autocomplete="off" type="text" name="firstname" required/>

    <label for="password"> Password </label>
    <input name="password" id="password" type="password" required/>

    <!-- <label for="password"> Confirm Password </label>
      <input name="conpassword" id="conpassword" type="password"onchange='check_pass()' /> -->

    <button type="submit" class="submit" id="submit">Create Account</button>
    <!-- <input id="errormsg" type="hidden" name="errormsg" onChange="onChange()"> </input> -->
  </form>
  <!-- <div class="sign-up-link">
 
    <a
      class="btn btn-block btn-social btn-google"
      href="/auth/google"
      role="button"
    >
      <i class="fab fa-google"></i>
      Sign Up with Google
    </a>
  </div> -->
</div>
