<%- include('partials/header') %>

<%- include('partials/navbaradmin') %>
<div class="container-tutorial" style="margin-bottom: 30px;">
<div class="container-page " style="background-color: white; width: 70%; margin: 0 auto; ">
			
    <div class="container-blog">
        
        <div class="title-blog mt-5">
            <h2 class="pt-5" style="font-weight: 1000;" >Tutorials</h2>
            <p> To ensure that your concern will be entertain as soon as you need, please follow the instructions carefully and upload your requirements in the right form.
                
            </p>
        </div>
        <h3>How to compile all the requirements in one PDF File? </h3>
        <div class="post-top">
           
            <img src="/images/pdf.png">
            
            <div class="post-details post-top-details">
                
                <h3> <a href="#" style="color: teal" >How to pay using GCASH?</h3></a> 
                <h6>Pay your fee using GCASH to avoid hassle in lining up outside the Barangay.</h6>
                
                <div class="bio">
                    <img src="/images/man.png">
                    <div>
                        <p>Niksoverload</p>
                        <p>May 10 - 12 min read</p>
                    </div>
                    
                </div>
                
            </div>
             
        </div>
         <h6 style="text-align: justify;">
            Do you have multiple PDFs that you need to merge into one? Making one PDF out of many is easier than you might think on both Windows PCs and Macs. Here's how to do it on each platform.</h6>
        <p style="text-align: justify;">Knowing how to combine multiple PDFs into a single file is easy and can make you more productive. You don't want to inflict a half-dozen PDF files on the accounting department, for example, when you can deliver one unified document. Or maybe you have four or five sections of a report that you've printed to separate PDFs from Word, Excel, and a photo editor. How do you get them all into a single file? These questions are all the more pressing for people working from home and those trying to go paperless because PDFs easily replace physical documents. People need to know how to organize and manage them.</p>
        <div class="post-top">
           
            
            <div class="post-details post-top-details">
                
                <h3>How to combine PDF files online</h3>
                <ul >
                    <li class="mb-2">  Drag and drop your PDFs into the PDF combiner.</li>
                    <li class="mb-2">  Rearrange individual pages or entire files in the desired order..</li>
                    <li class="mb-2">  Add more files, rotate or delete files, if needed.</li>
                    <li class="mb-2">  Click ‘Merge PDF!’ to combine and download your PDF.</li>
                </ul>
                
    
                
            </div>
            
            <img src="/images/how-to-merge-pdf-files.jpg">
             
        </div>
        
        <hr>
        <div class="mb-1 p-5">
            <h3>1. Visit <a style="color: teal;" href="https://smallpdf.com/merge-pdf">SmallPdf </a>Website</h3>
            <p style="text-align: justify;">
               Smallpdf is an online tools for merging multiple files in one PDF file. Click Choose Files to start and Upload all your requirements.
           </p>
           <img src="/images/STEP1.png" style="width: 100%; border: 1px solid rgb(103, 102, 102); ">
        </div>
        <div class="mb-1 p-5">
            <h3>2. Choose your desired files to merge and Click Open</h3>
            <p style="text-align: justify;">
              Make sure that all of the requirements are selected.
           </p>
           <img src="/images/STEP2.png" style="width: 100%; border: 1px solid rgb(103, 102, 102)">
        </div>
        <div class="mb-1 p-5">
            <h3>3. Click the Merge Files and Click Choose Opetion</h3>
            <p style="text-align: justify;">
             One of the easiest way to combine PDF Files is the SmartPDF. You don't have to use or buy pro just to merge your files! 
           </p>
           <img src="/images/STEP3.png" style="width: 100%; border: 1px solid rgb(103, 102, 102)">
        </div>
        <div class="mb-1 p-5">
            <h3>4. Make sure that all of the files that you have selected are in the in the list before Clicking the Merge PDF</h3>
            <p style="text-align: justify;">
             Again, best way to get your concern as soon as you needed, complete all the requirements!
           </p>
           <img src="/images/STEP4.png" style="width: 100%; border: 1px solid rgb(103, 102, 102)">
        </div>
        <div class="mb-1 p-5">
            <h3>4. Click Download</h3>
            <p style="text-align: justify;">
             Now your file is ready!
           </p>
           <img src="/images/STEP5.png" style="width: 100%; border: 1px solid rgb(103, 102, 102)">
        </div>
        <div class="mb-1 p-5">
            <h3>4. You can now see your file in your Download File Folder and Upload it to our portal</h3>
            <p style="text-align: justify;">
             
           </p>
           <img src="/images/STEP6.png" style="width: 100%; border: 1px solid rgb(103, 102, 102)">
        </div>
         <hr>










        <div class="posts-other">
            
            <div class="post-other">
                <img src="https://practiceblog.freemote.com/img/post-2.png">
                <div class="post-details">
                    <h3>How helpful the Barangay Portal is?</h3>
                    <h6>How can it make your life easier?</h6>
                    
                    <div class="bio">
                        <img src="/images/man.png">
                        <div>
                            <p>niksoverload</p>
                            <p>May 10 - 12 min read</p>
                        </div>
                        
                    </div>
                </div>
            </div>
                
            <div class="post-other">
                <img src="https://practiceblog.freemote.com/img/post-3.png">
                <div class="post-details">
                    <h3>How to make an appointment?</h3>
                    <h6>Easy and fast transactions!</h6>
                    
                    <div class="bio">
                        <img src="/images/man.png">
                        <div>
                            <p>niksoverload</p>
                            <p>May 10 - 12 min read</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="post-other">
                <img src="https://practiceblog.freemote.com/img/post-4.png">
                <div class="post-details">
                    <h3>Know about our Barangay Officials</h3>
                    <h6>Learn more about our New Officials</h6>
                    
                    <div class="bio">
                        <img src="/images/man.png">
                        <div>
                            <p>Niksoverload</p>
                            <p>May 10 - 12 min read</p>
                        </div>
                        
                    </div>
                </div>
            </div>
                        
        </div>
    </div>
</div>

</div>

<%- include('partials/footer') %>
<%- include('partials/scriptstag') %>