.adminportal{
    padding-top: 30px;
}

 
   .nav-tabs{
     text-align: center;
     margin-bottom: 30px;
    
   }
  
   .btn-add{
    text-align: right;
    width: 90%;
    padding: 0px 10px;

   }
   .addbtn{
     width: 100px;
     margin-right: 5px ;
   }
   .addbtn:hover{
    color:#1B999D !important;
  }
   tr{
     background-color: white;
   }
   .table-container{
     padding-top: 0;
   }
  
   .tableFixHead { overflow-y: auto; height: 400px; width: 80%;
  margin: 0 auto;}

   /* Just common table stuff. */
   table  { border-collapse: collapse; width: 100%; }

   .tableFixHead thead th { position: sticky; top: 0; z-index: 1; }
   /* ----------- */
   .card-content{
     width: 80%;
     margin: 0 auto;
   }
   .card-header{
     background-color: #1B999D;
     opacity: 0.8;
     color: white;
   }
   .card-title{
     padding: 0;
   }
   .card-body{
     text-align: center;
     
     
   }


/* ----------- */
.sidebar-container{
 
  width: 220px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background:#1B999D;
}
.sidebar-cont{
  position: fixed;
  height: 100%;
  opacity: 0.8;
  right: 0;
  left: 0;
}
.sidebar-brand{
  Color: white;
  font-size: 1.4rem;
  font-weight: 1000;
padding: 50px 10px ;
}

 .nav-btn{
  height: 50px;
  width: 220px;
  background-color: transparent;
 text-align: left;
  float: left;
  padding-left: 20px;
  border:0px;
  color:#fff;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  box-shadow:0px 0 0 #31708f  inset;
}
.nav-btn:hover{
  -webkit-box-shadow: -210px 0 0 #31708f inset;
}

.tab-content{
  width: 100%;
  
  margin: 0 auto;
}


/* --------------- */
.addButton{
  text-align: right;
  padding-right: 130px;
  padding-bottom: 20px;
}

.addUserModal{
  background-color: white;
  height: 80%;
}
.addUserSignup{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 25%;
  left: 50%;
  margin: -100px 0 0 -150px;
  text-align: left;
}
.closebtn{
  text-align: right;
  padding: 20px;
}
/* -----EDIT USER MODAL----- */

/* ----- */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.wrapper-11{
  width:100%;
  height:100vh;
  display: flex;
flex-direction: column;
}
.wrapper-22{
  /* padding :30px; */
  text-align:center;
  padding: 0;
}

.editUserModal{
  background-color: white;
  height: 80%;
}
.editUserSignup{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 25%;
  left: 50%;
  margin: -100px 0 0 -150px;
  text-align: left;
}
.closebtn1{
  text-align: right;
  padding: 20px;
}


.ms-modal {
  margin: auto;
	position: fixed;
	top: 100px;
	left: 0;
  right: 0;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ms-show {
	visibility: visible;
}

.ms-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(#e4f0e3, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.ms-show ~ .ms-overlay {
	opacity: 1;
	visibility: visible;
}

.ms-effect-12 .ms-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.ms-show.md-effect-12 ~ .ms-overlay {
	background-color: #e4f0e3;
} 

.ms-effect-12 .ms-content h3,
.ms-effect-12 .ms-content {
	background: transparent;
}

.ms-show.ms-effect-12 .ms-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}



/* ------- */
.input-container{
  padding: 10px 100px;
}
.user-input{
  width: 200px;
}
.a-link{
  color: white;
}
.a-link:hover{
  color:#1B999D;
}

.td-link{
  color:#1B999D;
}

/* ---------- */


