<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/portal">Barangay Portal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/main"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#News"></a>
        </li> -->
        
            <li>
              <hr class="dropdown-divider" />
            </li>
            
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item navbar-distance">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
        <li class="nav-item navbar-distance">
          <a class="nav-link nav-border-without" href="#contacts">Talk to Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
