<nav>
    <div class="nav nav-tabs justify-content-center div-tab" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-brgyid-tab" data-bs-toggle="tab" data-bs-target="#nav-brgyid" type="button" role="tab" aria-controls="nav-brgyid" aria-selected="true">Barangay ID</button>
      <button class="nav-link" id="nav-brgyclearance-tab" data-bs-toggle="tab" data-bs-target="#nav-brgyclearance" type="button" role="tab" aria-controls="nav-brgyclearance" aria-selected="false"> Barangay Clearance</button>
      <button class="nav-link" id="nav-businessclearance-tab" data-bs-toggle="tab" data-bs-target="#nav-businessclearance" type="button" role="tab" 
      aria-controls="nav-businessclearance" aria-selected="false">Business Clearance</button>
      <button class="nav-link" id="nav-exacpermit-tab" data-bs-toggle="tab" data-bs-target="#nav-exacpermit" type="button" role="tab" aria-controls="nav-exacpermit" aria-selected="false"> Exacavation Permit</button>
      <button class="nav-link" id="nav-indigency-tab" data-bs-toggle="tab" data-bs-target="#nav-indigency" type="button" role="tab" 
      aria-controls="nav-indigency" aria-selected="false">Certificate for Indigency</button>
      <button class="nav-link" id="nav-soloparent-tab" data-bs-toggle="tab" data-bs-target="#nav-soloparent" type="button" role="tab" 
      aria-controls="nav-soloparent" aria-selected="false">Certificate for Solo Parent</button>
      <button class="nav-link" id="nav-wiring-tab" data-bs-toggle="tab" data-bs-target="#nav-wiring" type="button" role="tab" aria-controls="nav-wiring" aria-selected="false"> Wiring Clearance</button>
     
    </div>
  </nav>
  <div class="tab-content request-tab" id="nav-tabContent">
    <!-- -------------------BRGY ID---------------------------- -->
        <div class="tab-pane fade show active" id="nav-brgyid" role="tabpanel" aria-labelledby="nav-brgyid-tab">
          <div class="container-tab">
            <div class="tabs">
                <div class="tab active">Pending </div>
                <div class="tab">Approved</div>
              
            </div>

          
                  <div class="content">
                      <div class="content-item active">
                              <div class="tableFixHead request-table">
                                              
                                <table class="table table-hover table-striped">
                                  <thead class="table-dark">
                                      <!-- <th scope="col">#</th> -->
                                      <th scope="col">Full Name</th>  
                                      <!-- <th scope="col"> View </th> -->
                                      <th scope="col"> Delete </th>
                                      <th scope="col"> Approve </th>
                                    </tr>
                                  </thead>
                                  <tbody>      
                                  <% requestIds.forEach(function(users){ %>
                                    <tr>
                                      <th scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>      
                                    <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> account?');"  >
                                      <i class="fa-solid fa-xmark"></i> </a> </td>
                                      <td style="width: 10px;text-align: center;"> <a class="td-link" href="#" >
                                        <i class="fa-solid fa-check"></i></a> </td>
                                    </tr>
                                    <% }); %> 
                                    
                                  </tbody>
                            </table>
                            </div>
                      </div>
                      <div class="content-item">
                          Content 2
                      </div>

                      <div class="request-add-div">
                        <button type="button" class="submit request-add" >
                          <a style=" text-decoration: none;" class="a-link"  href="/reqbrgyidform" >
                          Add Request</button></a>
                        <button type="button" class="submit request-add"onclick="return confirm('Are you sure you want to delete ALL request?');"  >Delete All</button>
                       
                      </div>
                     

                    
                    </div>
          </div>
    </div>
    
    
    
    <!-- ------------------- END OF BRGY ID---------------------------- -->
    <!-- -------------------BRGY CLEARANCE---------------------------- -->
    <div class="tab-pane fade" id="nav-brgyclearance" role="tabpanel" aria-labelledby="nav-brgyclearance-tab">Clearance</div>
    <!-- -------------------END OF BRGY CLEARANCE---------------------------- -->
    <!-- -------------------BUSINESS CLEARANCE---------------------------- -->
    <div class="tab-pane fade" id="nav-businessclearance" role="tabpanel" aria-labelledby="nav-businessclearance-tab">Business</div>
     <!-- ------------------- END OF BUSINESS CLEARANCE---------------------------- -->
      <!-- -------------------EXACAVATION PERMIT---------------------------- -->
    <div class="tab-pane fade" id="nav-exacpermit" role="tabpanel" aria-labelledby="nav-exacpermit-tab">Exacavation</div>
    <!-- -------------------END OF EXACAVATION PERMIT---------------------------- -->
    <!-- -------------------INDIGENCY--------------------------- -->
    <div class="tab-pane fade" id="nav-indigency" role="tabpanel" aria-labelledby="nav-indigency-tab">Indigency</div>
    <!-- -------------------END OF INDIGENCY--------------------------- -->
    <!-- -------------------SOLO PARENT--------------------------- -->

    <div class="tab-pane fade" id="nav-soloparent" role="tabpanel" aria-labelledby="nav-soloparent-tab">Solo Parent</div>
     <!-- ------------------- END OF SOLO PARENT--------------------------- -->
      <!-- -------------------WIRING CLEARANCE--------------------------- -->
    <div class="tab-pane fade" id="nav-wiring" role="tabpanel" aria-labelledby="nav-wiring-tab">Wiring</div>
     <!-- -------------------END OF WIRING CLEARANCE--------------------------- -->
   
  </div>

<script>

let tabs = document.querySelectorAll('.tab');
        let content = document.querySelectorAll('.content-item');
        for (let i = 0; i < tabs.length; i++) {            
            tabs[i].addEventListener('click', () => tabClick(i));
        }

        function tabClick(currentTab) {
            removeActive();
            tabs[currentTab].classList.add('active');
            content[currentTab].classList.add('active');
            console.log(currentTab);
        }

        function removeActive() {
            for (let i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove('active');
                content[i].classList.remove('active');
            }
        }

</script>