<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Barangay Clearance</title>

  <style>
  h1 {
    color: teal;
  }
</style>
</head>

<body>
  {{!-- <h2>Hello {{name}}! </h2>
  <p>We're glad to have you on board at {{company}}. </p> --}}

  <div >
                 Hello, Mr/Ms/Mrs. <%=users.fullname%>, <br><br>

                    I got your request now! <br><br>

                    Thank you for using our website and following the protocol. Before proceeding to the next step I would like you to visit the link below and read our Terms and Conditions in receiving this file. I hope you understand and please do follow the steps carefully. 
                    <br> <br>
                   As promised, heres the copy of your request. Please download the file attached to this email.
<br><br>
                    Thank you very much!
<br><br>

                    Sincerely, <br>
                    Barangay Portal
  </div>
</body>

</html>