<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>

  <style>
  h1 {
    color: teal;
  }
</style>
</head>

<body>
  {{!-- <h2>Hello {{name}}! </h2>
  <p>We're glad to have you on board at {{company}}. </p> --}}

  <div >
                  <table  width="600" height="auto" align="center" cellpadding="0" cellspacing="0" style="background-color:#fdfdfd; ">
                    <tr class="email-box">
                      <td class="email-title-cont">
                        <h1 class="email-title" > Hello, {{name}} I got your request now! </h1>
                      </td>
                    </tr>
                    <tr class="tr-email">
                      <td class="email-paragraph"width="600" style=" padding-bottom: 0px;">
                        <p style="margin:0 0 16px;">Thank you for using our website and following our protocol. </p>
                        <p style="margin:0 0 16px;">As promised, Here's the copy of your Request and please before downloading the file, I would like you to click the link first and read our Terms and Conditions in receiving this file. <a href=""> <b>Terms and Conditions</b> </a> </p>
                        <p style="margin:0 0 16px;">Download your file : <a href=""><b> Here </b> </a> </p>
                      </td>
                    </tr>
                   
                  </table>
                </div>
</body>

</html>