<%- include('../partials/header') %> <%- include('../partials/navbar') %>

<div class="news-container container-fluid">
  <div class="row row-news">
    <div class="col-lg-4 whats-happening px-0">
      <div class="box-fluid">
        <h1 class="news-h1 req-h1" style="font-size: 4.5rem;">Request for Business Permit</h1>
        >
        <!-- <p class="news-par"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam, habitant eget
                        nunc, vel
                        amet nulla malesuada. Hendrerit enim, convallis tellus arcu velit. Dolor pulvinar tempor duis
                        ultrices sit
                        elementum viverra proin.</p> -->
        <!-- <a class="btn-with-news">Read More</a> -->

        <div class="req-list">
          <h4>REQUIREMENTS</h4>
          <ul>
            <li>Filled-out Application Form</li>
            <li>Notarized Affidavit of Closure of Business </li>
            <li>Any Valid Id or PSA</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8 news-container">
      <div class="news-inside">
        <form class="row g-3 req-row" action="/reqbusinesspermit-req" method="POST">
          <div class="col-12 req-distance">
            <h5>Fill out this Application Form</h5>
            <i>
              Note: Please make sure that all of the informations are true.
            </i>
            
            <label class="form-label" style="padding-top: 15px;"
              >Full Name of Permittee<i> (Last Name, First Name, Middle Name) </i></label
            >
            <input type="text" class="req-input" name="fullname" required/>
          </div>
          <div class="col-12 req-distance">
            <label class="form-label">Personal Address</label>
            <input type="text" class="req-input" name="address" required />
          </div>
          <div class="col-md-6 req-distance">
            <label class="form-label">Email</label>
            <input type="email" class="req-input" name="email" required/>
          </div>
          <div class="col-md-6 req-distance">
            <label class="form-label">Phone</label>
            <input type="text" class="req-input" name="phone" required/>
          </div>
          <div class="col-12 req-distance">
            <label class="form-label">Name of Business</label>
            <input type="text" class="req-input" name="businessname" required />
          </div>
          <div class="col-12 req-distance">
            <label class="form-label">Business Address</label>
            <input type="text" class="req-input" name="businessaddress" required />
          </div>


          
         

          <div class="col-12 submit-center">
            <button type="submit" class="btn submit">
              Submit Application Form
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
